[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "kelly-assistant"

[packages]
speechrecognition = "*"
pyaudio = "*"
gtts = "*"
playsound = "==1.2.2"
nltk = "*"
openai = "*"
python-dotenv = "*"
peewee = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.10"
